/*RESET STYLE*/
*{
	margin: 0px;
	padding: 0px;
}	

#web-page{
	width: 100%;
	margin: auto;
}

#header{
	width: 80%;
	margin: auto;
}

.logo{
	width: 45%;
	float: left;
	padding-top: 20px;
}

.mainMenu{
	text-align: right;
	margin-top: 20px;	
}

.menu{
	margin-top: 10px;
}

.menu li{
	display: inline-block;
	padding: 5px 8px;
	background-color: #6488DD;
	margin-left: -6px;
	border-radius: 2px;	
}

.menu li:hover{
	background-color: #4BD6D6;
}

.menu li a{
	color: white;
	text-decoration: none;
}

#hero-element{
	clear: both;
	width: 100%;
	margin: 20px auto;
	height: 500px;
	background-image: url(../img/fgames_wallpaper.jpg);
	background-position: center;
}

#content{
	width: 80%;
	margin: 20px auto;
}

.article{
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
	float: left;
}

#footer{
	clear: both;
	width: 100%;
	padding: 10px;
	background-color: #3C4446;
}

.footer-content{
	width: 80%;
	margin: auto;
	text-align: right;
}

.footer-menu li{
	display: inline-block;
	margin-left: 5px;
}

.footer-menu li a{
	color: white;
	text-decoration: none;
}

.footer-menu li a:hover{
	color: #4BD6D6;	
}

.btn{
	padding: 10px;
	background-color: #274EE9;
	display: block;
	width: 15%;
	color: white;
	margin-top: 10px;
	text-decoration: none;
	border-bottom: 3px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	/*font-family: 'Comic sans MS'*/
}

.btn:hover{
	background-color: #CDE71D;
	color: black;
}

.btn-error{
	background-color: #8E041D;
}

.btn-error:hover{
	background-color: black;
	color: white;
}

.btn-success{
	background-color: #2ED63A;
	color: black;
}

.btn-success:hover{
	background-color: #095E2D;
}

.btn:active{
	border-top: 4px solid rgba(0,0,0,0.3);
	border-bottom: none;
}

input[type=submit],
button{	
	border-left: none;
	border-right: none;
	border-top: none;
	cursor: pointer;
}

.login-input{
	display: block;
	margin-bottom: 5px;
	padding: 5px;	
}

.search-box{
	padding: 5px;
}

.btn-search{
	display: inline-block;
}

.btn-small{
	width: 7%;
}

/*RESPONSIVE*/

@media screen and (max-width: 768px) {
	
	.btn{
		width: 20%;
		text-align: center;
	}

	.news-feed{
		width: 100%;
	}

	.article{
		width: 100%;
	}

}

@media screen and (max-width: 480px) {	

	.logo{
		width: 100%;
		text-align: center;
	}

	.mainMenu{
		display: block;
	}

	.mainMenu form{
		text-align: center;
	}

	.mainMenu li{
		display: block;
		text-align: center;
		padding: 5px;
		background-color: #BCBCBC;
		margin-top: 5px;		
		border-radius: 4px;
	}

	.mainMenu li:hover{
		background-color: #434E50;
		color: white;
	}

	.content{
		width: 100%;
	}

	.article{
		width: 100%;
		margin-top: 5px;
		font-size: 1.2em;
		line-height: 1.5;
	}

	#hero-element{
		display: none;
	}

	.btn{
		width: 100%;		
	}

	.login-input{
		width: 100%;
	}

	.search-box{
		width: 95%;
	}
}

@media screen and (max-width: 320px) {
	
	#web-page{
		width: 100%;
	}	
	
	#content{
		width: 80%;
		margin: auto;
	}		

	.widget{
		margin-bottom: 20px;
	}

	#footer{
		width: 100%;
	}

	.footer-content{
		width: 80%;
		margin: auto;
	}

	.footer-menu li{
		display: block;
		text-align: center;
		margin-bottom: 5px;
	}

	.footer-menu li a{
		color: white;		
	}

	.footer-content p{
		text-align: center;
	}

}



